@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Lato:900,700,400,300,100");
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
body, h1, h2, h3, h4, h5, h6{
	font-family: "Lato","Noto Sans TC",sans-serif;
}
body{
	background: #14141f;
	color: #222;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 150%;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 200%;
}
a, a:active, a:focus, a:visited{
	color: #222;
}
a:hover{
	color: #888;
}
a:hover, a:active, a:visited, a:focus{
	text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
}
.text-justify{
	text-justify:inter-ideograph;
}
/*==========================================*/
form.form-inline .input-group{
	margin: 15px 0;
}
nav.navbar-default{
	background: #111;
	border-color: rgba(255,255,255,.25);
	color: #888;
}
nav.navbar-default a,
nav.navbar-default a:focus,
nav.navbar-default .open a,
nav.navbar-default .open a:focus,
nav.navbar-default .open a:hover{
	background: transparent;
	color: #888;
}
nav.navbar-default a:hover{
	background: #000;
	color: #eee;
}
.sidebar{
	background: #14141f;
	color: #999;
}
.sidebar img{
	margin: 50px auto 15px;
	opacity: .5;
	width: 125px;
}
.sidebar ul{
	/*text-align: center;*/
}
.sidebar .info{
	text-align: center;
}
.sidebar ul li{
	border-color: rgba(255,255,255,.1);
}
.sidebar ul li a.active{
	background: rgba(0,0,0,.5);
}
.sidebar ul li a:focus,
.sidebar ul li.active a{
	background: transparent;
}
.sidebar ul p{
	margin-bottom: 15px;
}
span.large{
	color: #eee;
	display: block;
	font-size: 24px;
	font-weight: 300;
	margin: 5px 0 0;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th{
	vertical-align: middle;
}
table i.fa-2x{
	font-size: 26px;
	opacity: .5;
}
table i.fa-2x:hover{
	opacity: 1;
}
@media (min-width: 768px){
	form.form-inline .input-group{
		margin: 0 0 10px;
		vertical-align: top;
	}
}
@media (min-width: 1200px){
	form.form-inline .input-group{
		margin: 0;
	}
}

.text-right{
	text-align: right;
}

.npm{
	padding-bottom: 0;
}