.content .titlebar_line{
	margin-bottom: 20px;
}
.titlebar_line h3 {
    position: relative;
    background: #fff;
    padding: 0 15px;
    display: inline-block;
    margin: 0;
    color: #4ccce5;
}
.contact_form .form-control{
	border: 1px solid #ccc;
}
.contact_form .btn-warning{
	background-color: #4ccce5;
    border-color: #40a9bd;
}
.contact_form .btn-warning:hover{
	background-color: #40a9bd;
    border-color: #40a9bd;
}