@charset "utf-8";
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    margin: 0 auto;
}

.carousel-control.right,
.carousel-control.left {
    background: transparent;
}

.carousel-control.right {
    right: 50px;
}

.carousel-control.left {
    left: 30px;
}

.thumbnail.np_box {
    padding: 0;
    border-radius: 0;
}

.np_box {
    position: relative;
    overflow: hidden;
}

.sold {
    position: absolute;
    top: 0;
    right: 0;
    border-color: #dd3333 #dd3333 transparent transparent;
    border-style: solid;
}

.sold p {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    margin: 0;
    color: #fff;
    z-index: 2;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.np_box h3 {
    font-size: 18px;
    margin: 0 0 10px;
    word-break: normal;
    line-height: 140%;
}

.np_price p {
    color: #666;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    font-weight: 700;
}

.np_price del {
    font-size: 15px;
    color: #aaa;
    display: inline-block;
    margin-right: 10px;
}

.carousel-cell {
    width: 60%;
    height: auto;
    max-height: 550px;
    margin-right: 10px;
    background: transparent;
    border-radius: 0;
}

.owl-carousel .np_box {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

#index_pro .owl-theme .owl-nav [class*=owl-] {
    margin: -26px 0 0 0;
    padding: 0;
    background: transparent;
    color: #ccc;
}

.owl-nav>div {
    position: absolute;
    top: 50%;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}