@charset "utf-8";
label {
    font-weight: 400;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
    color: #ffca00;
}

.has-warning .form-control {
    border-color: #ffca00;
}

#alexslider .carousel {
    margin-top: 20px;
}

#alexslider .item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}

#alexslider .item .thumb img {
    width: 100%;
    margin: 2px;
}

#alexslider .item img {
    width: 100%;
}

.thumb {
    float: left;
}

.alex_slider .item,
.alex_thumb .thumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bigfour_font {
    font-family: 'Archivo Black', sans-serif;
    font-size: 150px;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    margin: 50px 0;
}

.bigfour_text {
    color: #999;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 1px;
    word-break: break-all;
    margin-bottom: 30px;
}





/*  ------------------------ALL Products Set------------------------  */

.sidebar {
    padding: 0 8px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-top: 5px solid #ddd;
    border-radius: 4px;
}

.onstyle {
    background: #676f37;
    color: #fff;
    padding: 3px 8px;
    border-radius: 5px;
    transition: background .2s linear;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
}

.onstyle:hover {
    background: #8d9655;
    color: #fff;
}

.side_title_top {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.side_title {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.input_g label {
    display: block;
    margin: 5px 0 0;
}

.input_g .form-control {
    display: inline-block;
    width: 33%;
    padding: 6px 0 6px 6px;
}

.input_g .btn {
    vertical-align: baseline;
    padding: 6px;
}

.clean_x {
    color: #bbb;
    text-shadow: 1px 0 1px #999;
}

.sidebar_list.extend .sidebar_drownav {
    display: none;
}

.selectbox {
    margin-top: 50px;
}

.mark_g,
.mark_y {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.mark_grey {
    background: #999;
    position: relative;
    display: block;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.mark_grey:before {
    color: #fff;
    content: 'X';
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}

.mark_g {
    background: #8BC34A;
}

.mark_y {
    background: #FFEB3B;
}

.control_btn {
    margin-bottom: 15px;
}

.control_btn .btn,
.control_btn input[type="text"] {
    font-size: 14px;
}

.control_btn input[type="text"] {
    height: 34px;
}

.control_btn ul.list-inline {
    margin: 0;
}

.control_btn ul.list-inline>li:nth-child(1),
.control_btn ul.list-inline>li:nth-child(2) {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
    margin-right: 10px;
}

.control_btn a {
    display: block;
    padding: 5px;
    color: #aaa;
    font-size: 14px;
}

.control_btn a:hover {
    color: #eee;
    background: #666;
}

.control_btn a.on {
    color: #eee;
    background: #666;
}

.boxstyle_list {
    margin-top: 20px;
}

.boxstyle_list .np_box>a {
    display: block;
    float: left;
}

.np_box_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.album_info {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.album_info li {
    color: #FF9800;
    font-weight: 700;
}

.album_info li+li {
    margin-top: 10px;
}

/*.new {
    position: absolute;
    top: 0;
    right: 0;
    border-color: #dd3333 #dd3333 transparent transparent;
    border-style: solid;
}

.new p {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    margin: 0;
    color: #fff;
    z-index: 2;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/




/*  ------------------------Products Set------------------------  */

.spe_product {
    margin-top: 30px;
}

.sidebar_list,
.sidebar_drownav {
    list-style: none;
}

.sidebar_list {
    padding-left: 0;
    margin-bottom: 0;
}

.sidebar_list>li {
    margin: 5px 0;
    font-size: 18px;
    position: relative;
}

.sidebar_list>li>a {
    font-size: 16px;
}

.drup-add .plus {
    color: #999;
    font-size: 13px;
    display: inline-block;
    height: auto;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 4px;
    transform: rotate(-45deg);
    transition: transform .5s ease;
    width: auto;
}

.drup-add .plus.clicked {
    transform: rotate(0deg);
}

.sidebar_drownav {
    margin: 0 0 0 21px;
    padding: 0;
    list-style-image: url(../../img/sys/dash.png);
    list-style-position: outside;
}

.sidebar_drownav li {
    margin: 10px 0;
    word-wrap: break-word;
}

.sidebar_drownav li>a {
    font-size: 16px;
}

.thumbnail.np_box {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 0;
    position: relative;
    overflow: hidden;
}

.thumbnail.np_boxs {
    border: none;
}

.thumbnail.np_boxs h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    word-break: normal;
    line-height: 28px;
}

.thumbnail.np_boxs p {
    color: #aaa;
    margin: 0;
}

.np_boxs .caption>ul {
    margin: 0;
}

.np_boxs .caption>ul a {
    color: #aaa;
}

.np_boxs .caption>ul a:hover {
    color: #666;
}

.np_box h3 {
    font-size: 20px;
    margin: 0 0 10px;
    word-break: normal;
    line-height: 140%;
}

.np_price {
    margin-top: 15px;
}

.np_price p {
    color: #676f37;
    display: inline-block;
    font-size: 22px;
    margin: 0;
    font-weight: 700;
}

.np_price del {
    font-size: 15px;
    color: #aaa;
    display: inline-block;
    margin-right: 10px;
}

.photo_big {
    border: 1px solid #ddd;
}

.photo_list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.photo_list li {
    flex: 0 1 auto;
    margin-bottom: 20px;
}

.photo_list li+li {
    margin-left: 20px;
}

.imgbox {
    border: 1px solid #ddd;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
}

.products_infobox {
    margin-bottom: 30px;
}

.products_infobox h3 {
    margin: 0 0 15px;
    line-height: 140%;
}

.price_select {
    margin-bottom: 15px;
    position: relative;
}

.price_select select {
    width: 6em;
    float: left;
}

.main_price {
    display: block;
    float: left;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 700;
    color: #666;
    margin-left: 15px;
}

.wishlist_btn {
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 20px;
}

.products_infobox .textedit {
    font-size: 12px;
}

.products_infobox .products_infolist {
    margin-top: 15px;
}

.products_infolist li {
    margin-bottom: 2px;
}

.products_infolist li:last-child {
    margin-bottom: 0;
}

.products_infolist a {
    font-weight: 700;
    text-decoration: underline;
}

.products_infolist a:visited {
    color: #f00;
}

.products_infolist .list_tit {
    margin-right: 10px;
    width: 100px;
    text-align: right;
    display: inline-block;
}

.same_list,
.same_list_info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.same_list>li {
    display: flex;
    margin-bottom: 15px;
}

.same_list>li>a {
    display: block;
    border: 1px solid #ddd;
    width: 80px;
    height: 80px;
    float: left;
}

.same_list_info {
    float: left;
    margin-left: 10px;
    align-self: center;
}

.same_list_info a {
    color: #dd0000;
}

.same_list_info a:hover {
    color: #f90;
}

.warringbox {
    padding: 10px;
    background: #ddd;
    line-height: 170%;
}

.album_info li+li {
    margin-top: 10px;
}

.album_info span {
    color: #8d9655;
    margin-right: 10px;
}

.owl-theme .owl-nav [class*=owl-] {
    background: #676f37;
}





/*  ------------------------Store Set------------------------  */

.store_infolist li {
    margin-bottom: 2px;
}

.store_infolist li:last-child {
    margin-bottom: 0;
}

.store_infolist a:visited {
    color: #a94442;
}

.store_infolist .list_tit {
    margin-right: 10px;
    text-align: right;
    display: inline-block;
    color: #337ab7;
    font-weight: 500;
}

.store_infoimg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

.store_infolist .infolist_other.textbox {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}





/*  ------------------------Contact Set------------------------  */

.contact .btn.btn-default {
    background: rgba(0, 0, 0, .05);
    border: #ccc 1px solid;
    color: #333;
    margin: 0;
    text-align: left;
    width: 100%;
}

.contact input,
.contact textarea {
    background: rgba(0, 0, 0, .05);
}

.contact input:focus,
.contact textarea:focus {
    background: transparent;
}

.contact label {
    font-weight: 400;
}

.contact p.text-center {
    margin-bottom: 20px;
}





/*  ------------------------Search Set------------------------  */

.search_list {
    margin: 0;
    padding: 0;
}

.search_list li {
    padding: 15px 0;
}

.search_list li+li {
    border-top: 1px dashed #ccc;
}

.search_box h3 {
    font-size: 18px;
    font-weight: 700;
}

.search_content {
    font-weight: 300;
}

.searchimg {
    background-size: cover;
    background-position: center center;
    width: 100px;
    max-width: 100%;
    height: 75px;
    border: 1px solid #ddd;
    margin: 0 15px 0 0;
    overflow: hidden;
    float: left;
}





/*  ------------------------fancy box------------------------  */

.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 80px;
    background: transparent;
}

.fancybox-thumbs>ul>li {
    border-color: transparent;
}

.fancybox-container--thumbs .fancybox-caption-wrap,
.fancybox-container--thumbs .fancybox-controls,
.fancybox-container--thumbs .fancybox-slider-wrap {
    right: 0;
    bottom: 0;
}

@media all and (max-width: 800px) {
    .fancybox-thumbs {
        display: none !important;
    }
    .fancybox-container--thumbs .fancybox-controls,
    .fancybox-container--thumbs .fancybox-slider-wrap,
    .fancybox-container--thumbs .fancybox-caption-wrap {
        bottom: 0;
    }
}

.fancybox-controls--canzoomOut .fancybox-placeholder {
    cursor: default;
}

.fancybox-controls--canzoomIn .fancybox-placeholder {
    cursor: default;
}

.fancybox-button.fancybox-button--right,
.fancybox-button.fancybox-button--left {
    width: 60px;
    height: 60px;
}

.fancybox-button--left:after,
.fancybox-button--right:after {
    top: 15px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top: 2px solid currentColor;
    border-right: 2px solid currentColor;
}

.btn_l {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 0;
}

.fancybox-button--left {
    border-bottom-left-radius: 0;
}

.btn_r {
    position: absolute;
    z-index: 99999;
    top: 50%;
    right: 0;
}

.fancybox-button--right {
    border-bottom-right-radius: 0;
}





/*  ------------------------Member Set------------------------  */

#birthdayPicker fieldset {
    padding: 0 15px;
}

.mem_info .form-control[readonly] {
    background: #3d4048;
}

.mem_info .col-md-6+.col-md-6 {
    margin-top: 10px;
}

#options button {
    background: #2f323b;
    border-radius: 0;
    color: #fff;
    width: 100%;
}

#twzipcode {
    margin: 0 0 10px;
}

.member_title {
    text-align: center;
}

.member_title h3 {
    font-size: 22px;
    margin: 0 0 20px;
}

.sale_info {
    font-size: 18px;
}

.member_table,
.other_table {
    background: #fff;
}

.member_table .table thead>tr>th,
.member_table .table tbody>tr>td,
.other_table .table thead>tr>th,
.other_table .table tbody>tr>td {
    text-align: center;
}

.member_table .table thead>tr>th,
.other_table .table thead>tr>th {
    font-weight: 400;
}





/*.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #dee2c8;
}*/

.member_table .footable-details>tbody>tr>th:nth-child(1),
.other_table .footable-details>tbody>tr>th:nth-child(1) {
    min-width: 40px;
    width: 140px;
}

@media (min-width: 992px) {
    .member_table th:nth-child(1) {
        width: 8%;
    }
    .member_table th:nth-child(2) {
        width: 10%;
    }
    .member_table th:nth-child(3) {
        width: 8%;
    }
    .member_table th:nth-child(4) {
        width: 20%;
    }
    .member_table th:nth-child(5) {
        width: 10%;
    }
    .member_table th:nth-child(6) {
        width: 20%;
    }
    .member_table th:nth-child(7) {
        width: 16%;
    }
    .member_table th:nth-child(8) {
        width: 8%;
    }
}

@media (min-width: 1200px) {
    #birthdayPicker fieldset select {
        float: left;
        margin-left: 30px;
        width: calc(33.333333% - 20px);
    }
    #birthdayPicker fieldset select:first-child,
    #twzipcode .form-control:first-child {
        margin-left: 0;
    }
    .form-group .form-control+.form-control {
        margin-top: 0px;
    }
    #twzipcode .form-control {
        float: left;
        margin-left: 30px;
        width: calc(50% - 15px);
    }
}