@charset "utf-8";
.jp_machine .titlebar_dubline h2 {
    color: #0b70ad;
}

.jp_machine .titlebar_dubline h2:before,
.jp_machine .titlebar_dubline h2:after {
    background: #0b70ad;
}

.nom_machine .titlebar_dubline h2 {
    color: #00BCD4;
}

.nom_machine .titlebar_dubline h2:before,
.nom_machine .titlebar_dubline h2:after {
    background: #00BCD4;
}

.sale_machine .titlebar_dubline h2 {
    color: #4CAF50;
}

.sale_machine .titlebar_dubline h2:before,
.sale_machine .titlebar_dubline h2:after {
    background: #4CAF50;
}





/*  ------------------------ALL Products Set------------------------  */

.sidebar {
    padding: 0 8px 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-top: 5px solid #ddd;
    border-radius: 4px;
}

.onstyle {
    background: #333;
    color: #fff;
    padding: 3px 8px;
    border-radius: 5px;
}

.side_title_top {
    font-size: 22px;
    margin-bottom: 20px;
}

.side_title {
    font-size: 22px;
    margin: 20px 0;
}

.input_g label {
    display: block;
    margin: 5px 0 0;
}

.input_g .form-control {
    display: inline-block;
    width: 33%;
    padding: 6px 0 6px 6px;
}

.input_g .btn {
    vertical-align: baseline;
    padding: 6px;
}

.clean_x {
    color: #bbb;
    text-shadow: 1px 0 1px #999;
}

.sidebar_list.extend .sidebar_drownav {
    display: none;
}

.selectbox {
    margin-top: 50px;
}

.mark_g,
.mark_y {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.mark_grey {
    background: #999;
    position: relative;
    display: block;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.mark_grey:before {
    color: #fff;
    content: 'X';
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}

.mark_g {
    background: #8BC34A;
}

.mark_y {
    background: #FFEB3B;
}

.control_btn {
    margin-bottom: 15px;
}

.control_btn ul.list-inline {
    margin: 0;
}

.control_btn ul.list-inline>li:nth-child(1),
.control_btn ul.list-inline>li:nth-child(2) {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
    margin-right: 10px;
}

.control_btn a {
    display: block;
    padding: 5px;
    color: #aaa;
}

.control_btn a:hover {
    color: #eee;
    background: #666;
}

.control_btn a.on {
    color: #eee;
    background: #666;
}

.boxstyle_list,
.boxstyle_grid {
    display: none;
    margin-bottom: 20px;
}

.boxstyle_list.open,
.boxstyle_grid.open {
    display: block;
}

.boxstyle_list .np_box>a {
    display: block;
}

.boxstyle_list.open .np_box>a {
    float: left;
}

.caption>p {
    margin: 5px 0;
}





/*  ------------------------Products Set------------------------  */

.spe_product {
    margin-top: 30px;
}

.spe_product .titlebar_dubline h2 {
    color: #333;
}

.spe_product .titlebar_dubline h2:before,
.spe_product .titlebar_dubline h2:after {
    background: #333;
}

.sidebar_list,
.sidebar_drownav {
    list-style: none;
}

.sidebar_list {
    padding: 0;
    margin: 0;
}

.sidebar_list>li {
    margin: 5px 0;
    font-size: 18px;
    position: relative;
}

.sidebar_list>li>a {
    font-size: 18px;
}

.drup-add .plus {
    color: #999;
    font-size: 13px;
    display: inline-block;
    height: auto;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 4px;
    transform: rotate(-45deg);
    transition: transform .5s ease;
    width: auto;
}

.drup-add .plus.clicked {
    transform: rotate(0deg);
}

.sidebar_drownav {
    margin: 0 0 0 21px;
    padding: 0;
    list-style-image: url(../../images/dash.png);
    list-style-position: outside;
}

.sidebar_drownav li {
    margin: 10px 0;
    word-wrap: break-word;
}





/*.sidebar_drownav li:before {
    content: '-';
    display: inline-block;
    font-weight: 700;
    margin-right: 10px;
}*/

.thumbnail.np_box {
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.thumbnail.np_boxs {
    border: none;
}

.thumbnail.np_boxs h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    word-break: break-all;
    line-height: 140%;
}

.thumbnail.np_boxs p {
    color: #aaa;
    margin: 0;
}

.np_box {
    position: relative;
    overflow: hidden;
}

.np_boxs .caption>ul {
    margin: 0;
}

.np_boxs .caption>ul a {
    color: #aaa;
}

.np_boxs .caption>ul a:hover {
    color: #666;
}

.np_box h3 {
    font-size: 15px;
    margin: 0 0 5px;
    word-break: normal;
    line-height: 120%;
}

.np_rmks p {
    color: #666;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    font-weight: bold;
}

.np_price p {
    color: #666;
    display: inline-block;
    font-size: 15px;
    margin: 0;
    font-weight: bold;
}

.np_price del {
    font-size: 15px;
    color: #aaa;
    display: inline-block;
    margin-right: 10px;
}

.photo_big {
    border: 1px solid #ddd;
}

.photo_list {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
    overflow: hidden;
}

.photo_list li {
    float: left;
    margin: 0 15px 15px 0;
}

.photo_list li >a{
    overflow: hidden;
}

.products_infobox {
    margin-bottom: 30px;
}

.products_infobox h3 {
    margin: 0 0 15px;
    line-height: 140%;
}

.price_select {
    margin-bottom: 15px;
    position: relative;
}

.price_select select {
    width: 6em;
    float: left;
}

.main_price {
    display: block;
    float: left;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 700;
    color: #666;
    margin-left: 15px;
}

.wishlist_btn {
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 20px;
}

.products_infobox .textedit {
    font-size: 12px;
}

.products_infobox .products_infolist {
    margin-top: 15px;
}

.products_infolist li {
    margin-bottom: 2px;
}

.products_infolist li:last-child {
    margin-bottom: 0;
}

.products_infolist a {
    font-weight: 700;
    text-decoration: underline;
}

.products_infolist a:visited {
    color: #f00;
}

.products_infolist .list_tit {
    margin-right: 10px;
    width: 105px;
    text-align: right;
    display: inline-block;
}

.same_list,
.same_list_info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.same_list>li {
    display: flex;
    margin-bottom: 15px;
}

.same_list>li>a {
    display: block;
    border: 1px solid #ddd;
    width: 80px;
    height: 80px;
    float: left;
}

.same_list_info {
    float: left;
    margin-left: 10px;
    align-self: center;
}

.same_list_info a {
    color: #dd0000;
}

.same_list_info a:hover {
    color: #f90;
}

.warringbox {
    padding: 10px;
    background: #ddd;
    line-height: 170%;
}

.pro_contact {
    background: #ddd;
    margin: 0 0 30px;
    padding: 10px;
}

.pro_contact label {
    color: #333;
    font-weight: 400;
}




/*  ------------------------Store Set------------------------  */

.store_infolist li {
    margin-bottom: 2px;
}

.store_infolist li:last-child {
    margin-bottom: 0;
}

.store_infolist a:visited {
    color: #a94442;
}

.store_infolist .list_tit {
    margin-right: 10px;
    text-align: right;
    display: inline-block;
    color: #337ab7;
    font-weight: 500;
}

.store_infoimg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}

.store_infolist .infolist_other.textbox {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}





/*  ------------------------Public Set------------------------  */

.chart_title {
    font-size: 22px;
    color: #109618;
}

.chart_block .nav-tabs h2 {
    font-size: 22px;
    margin: 0 0 10px;
    text-align: center;
}

.chart_block .tab-content {
    padding-top: 20px;
}

.tb_iframe iframe {
    min-height: 500px;
}






/*  ------------------------Service Set------------------------  */

.servicebox {
    margin-top: 20px;
    text-align: center;
}

.servicebox img {
    display: inline-block;
}

.servicebox h3 {
    font-weight: 300;
    font-size: 22px;
    margin: 2.5em 0 1em;
}

.servicebox p {
    color: #666;
    margin: 0;
}

.process_list li {
		text-align: center;
		position: relative;
}

.process_list li >p {
		height: 50px;
		font-weight: 400;
		color: #fff;
		background: #f90;
		padding: 15px 10px 10px 10px;
		position: relative;
		line-height: 140%;
		border-radius: 10px;
		top: 10px;
}

.process_list li >p:before {
		position: absolute;
		display: inline-block;
		background: #ff2222;
		color:#fff;
		top: -10px;
		left: -10px;
		height: 25px;
		width: 25px;
		border-radius: 10px;
}

.process_list li:nth-child(1) >p:before {
		content: '1';
}

.process_list li:nth-child(2) >p:before {
		content: '2';
}

.process_list li:nth-child(3) >p:before {
		content: '3';
}

.process_list li+li {
		padding-left: 44px;
		margin-left: 10px;
}

.process_list li+li:before {
	content: '\f178';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 28px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	left:0;
	top:20px;
}





/*  ------------------------Contact Set------------------------  */

.contact .btn {
    background: #333;
    border: #333 2px solid;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 30px 0 0;
}

.contact .btn.btn-default {
    background: rgba(0, 0, 0, .05);
    border: #ccc 1px solid;
    color: #333;
    margin: 0;
    text-align: left;
    width: 100%;
}

.map {
    margin-bottom: 50px;
}

.map iframe {
    border: 0;
    height: 30vw;
    width: 100%;
}

.contact input,
.contact textarea {
    background: rgba(0, 0, 0, .05);
}

.contact input:focus,
.contact textarea:focus {
    background: transparent;
}

.contact label {
    font-weight: 400;
}

.contact p.text-center {
    margin-bottom: 20px;
}





/*  ------------------------Search Set------------------------  */

.search_list {
    margin: 0;
    padding: 0;
}

.search_list li {
    padding: 15px 0;
}

.search_list li+li {
    border-top: 1px dashed #ccc;
}

.search_box h3 {
    font-size: 18px;
    font-weight: 700;
}

.searchimg {
    background-size: cover;
    background-position: center center;
    width: 100px;
    max-width: 100%;
    height: 75px;
    border: 1px solid #ddd;
    margin: 0 15px 0 0;
    overflow: hidden;
    float: left;
}





/*  ------------------------Member Set------------------------  */

#birthdayPicker fieldset {
    padding: 0 15px;
}

.mem_info .btn.btn-block {
    background: #333;
    color: #fff;
}

.mem_info .form-control[readonly] {
    background: #3d4048;
}

.mem_info .col-md-6+.col-md-6 {
    margin-top: 10px;
}

.mem_info label {
    font-size: 16px;
    font-weight: 400;
}

#options button {
    background: #2f323b;
    border-radius: 0;
    color: #fff;
    width: 100%;
}

#twzipcode {
    margin: 0 0 10px;
}

.member_title {
    text-align: center;
}

.member_title h3 {
    font-size: 22px;
    margin: 0 0 20px;
}

.sale_info {
    font-size: 18px;
}

.member_table {
    margin-top: 20px;
}

.member_table .list-inline {
    margin-bottom: 0;
}

.member_table .list-inline li+li {
    margin-left: 15px;
}

.member_table th,
.member_table_store th,
.member_table_point th {
    text-align: center;
}

.member_table td:nth-child(5) i {
    font-size: 20px;
}

@media (min-width: 992px) {
    .mem_info .col-md-6+.col-md-6 {
        margin-top: 0px;
    }
    .member_table th:nth-child(1) {
        width: 15%;
    }
    .member_table th:nth-child(3) {
        width: 15%;
    }
    .member_table th:nth-child(4) {
        width: 15%;
    }
    .member_table th:nth-child(5) {
        width: 10%;
    }
    .member_table th:nth-child(6) {
        width: 20%;
    }
    .member_table_store th:nth-child(1) {
        width: 20%;
    }
    .member_table_store th:nth-child(4) {
        width: 25%;
    }
    .member_table_point th:nth-child(1) {
        width: 15%;
    }
    .member_table_point th:nth-child(2) {
        width: 10%;
    }
    .member_table_point th:nth-child(3) {
        width: 15%;
    }
}

@media (min-width: 1200px) {
    #birthdayPicker fieldset select {
        float: left;
        margin-left: 30px;
        width: calc(33.333333% - 20px);
    }
    #birthdayPicker fieldset select:first-child,
    #twzipcode .form-control:first-child {
        margin-left: 0;
    }
    .form-group .form-control+.form-control {
        margin-top: 0px;
    }
    #twzipcode .form-control {
        float: left;
        margin-left: 30px;
        width: calc(50% - 15px);
    }
}