@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .header_style03 .navbar-collapse {
        padding: 0;
    }
    .header_style03 .navbar-header {
        background: #ddd;
    }
    .header_style03 .navbar-toggle {
        border: 1px solid #666;
    }
    .header_style03 .navbar-toggle .icon-bar {
        background: #666;
    }
    .navbar-nav .open .dropdown-menu>li>a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 15px 5px;
    }
    .header_style03 .dropdown-menu>li+li {
        border-top: 1px solid #f2f2f2;
    }
    .header_style03 .navbar_topnav {
        border-bottom: 1px dashed #ddd;
    }
    .navbar-nav .open .dropdown-menu {
        background: rgba(0, 0, 0, .75) url(../../images/line_sb.png) left top;
    }
    .img_info {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .searchbox .navbar-form .form-control {
        font-size: 13px;
        padding: 2px 2px 2px 26px;
    }
    .btn_icon {
        top: -3px;
    }
    .mainbox {
        margin: 15vh 0 0;
    }
    .mainbox.brand {
        margin: 5vh 0 0;
    }
    .brandbox >a {
        height: 77px;
    }
    .brand img {
        width: auto;
        height: auto;
        max-height: 65px;
        margin: 0 auto;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }
    .cur_nav {
        margin-left: 10px;
    }
    .titlebar_dubline {
        width: 350px;
        margin: 2em auto 30px !important;
    }
    .machine img {
        max-width: 204px;
        margin-bottom: 30px;
    }
    .sold {
        width: 100px;
        height: 100px;
        border-width: 50px;
    }
    .sold p {
        top: -28px;
        right: -44px;
    }
    .new {
        width: 100px;
        height: 100px;
        border-width: 50px;
    }
    .new p {
        top: -28px;
        right: -44px;
    }
    .contectbox {
        margin-top: 95px;
    }
    .servicebox img {
        width: 70%;
    }
    /*.mobile_nav {
        margin-bottom: 2em;
        }*/
    .pro_filter {
        margin-bottom: 20px;
    }
    .sidebar_list_m {
        margin-bottom: 2em;
    }
    .selectbox.mobi {
        margin: 0;
    }
    .filterbox {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .85);
        padding: 30px 0;
        z-index: 500;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .filterbox h4 {
        color: #fff;
    }
    .selectbox.mobi label,
    .selectbox.mobi .ds {
        color: #fff;
    }
    .selectbox.mobi .input_g .form-control {
        display: inline-block;
        width: calc(100%/2 - 24px);
    }
    .filter_close {
        color: #fff;
        text-shadow: 0 1px 0 #aaa;
        opacity: 1;
    }
    .infolist_other {
        padding-left: 112px;
    }
    .store_infolist .infolist_other {
        padding-left: 86px;
    }
    .store_infoimg {
        width: 218px;
        height: calc((218px - 30px) / 4 * 3);
    }
    .store_infolist .infolist_other.textbox {
        -webkit-line-clamp: 4;
        line-height: 26px;
        height: 104px;
    }
    .infolist_other.textbox:after {
        content: '';
        background-color: #fff;
    }
}

@media (max-width: 750px) {
    #gotop {
        bottom: 23% !important;
    }
    .mobile_nav {
        margin-bottom: 0;
    }
    .carousel-control .fa-angle-double-left {
        font-size: 28px;
        font-weight: 700;
        position: absolute;
        top: 38%;
        z-index: 5;
    }
    .carousel-control .fa-angle-double-right {
        font-size: 28px;
        font-weight: 700;
        position: absolute;
        top: 38%;
        z-index: 5;
    }
    .cur_nav {
        float: none;
        margin-left: 0;
    }
    .mainbox {
        margin: 10vh 0 0;
    }
    .mainbox.brand {
        margin: 5vh 0 0;
    }
    .brandbox >a {
        height: 77px;
    }
    .brand img {
        width: auto;
        height: auto;
        max-height: 65px;
        margin: 0 auto;
    }
    .titlebar_dubline {
        width: 290px;
        margin: 2em auto 30px !important;
    }
    .machine img {
        max-width: 100%;
        margin-bottom: 15px;
    }
    .sold {
        width: 100px;
        height: 80px;
        border-width: 50px;
    }
    .sold p {
        top: -32px;
        right: -37px;
    }
    .new {
        width: 100px;
        height: 80px;
        border-width: 50px;
    }
    .new p {
        top: -32px;
        right: -37px;
    }
    .contectbox {
        margin-top: 25vh;
    }
    .contectbox.jp_machine {
        margin-top: 30px;
    }
    .servicebox p {
        text-align: center;
    }
    .servicebox img {
        width: 50%;
    }
    .perinfo {
        margin: 15px 0;
    }
    .copyright {
        margin-top: 15px;
    }
    .boxstyle_list .np_box >a {
        display: block;
        float: none !important;
        height: calc((100vw - 30px) / 4 * 3);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        overflow: hidden;
        background-color: #f2f2f2;
    }
    .products_infolist {
        padding: 0 10px;
    }
    .new_product .np_box >a {
        display: block;
        width: 100%;
        height: calc(100vw / 4 * 3);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .member_title {
        margin-top: 30px;
    }
    .img_info {
        font-size: 20px;
    }
    .store_infoimg {
        width: 395px;
        height: calc((395px - 30px) / 4 * 3);
    }
    .app_don {
        margin-top: 20px;
    }
    .app_don img {
        display: inline;
    }
}

@media (max-height: 768px) and (orientation: landscape) {
    .filterbox {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .85);
        padding: 30px 0;
        z-index: 500;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: auto;
        -webkit-transform: translateZ(0);
    }
}

@media (min-width: 768px) {
    .col5 {
        width: 20%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .slider {
        margin-bottom: 10px;
    }
    .carousel-control .fa-angle-double-left {
        font-size: 36px;
        font-weight: 700;
        position: absolute;
        z-index: 5;
    }
    .carousel-control .fa-angle-double-right {
        font-size: 36px;
        font-weight: 700;
        position: absolute;
        z-index: 5;
    }
    .cur_nav {
        float: left;
    }
    .servicebox p {
        text-align: left;
    }
    .contact h3 {
        line-height: 100%;
    }
    /*.right_bar {
        float: right;
    }*/
    .control_btn ul.list-inline {
        float: left;
    }
    .thumbnail.np_box {
        margin: 0;
    }
    .boxstyle_list li,
    .boxstyle_grid li {
        margin-bottom: 20px;
    }
    .boxstyle_list .np_box .caption {
        float: left;
    }
    .boxstyle_list .np_box img {
        margin: 0 10px 0 0;
        width: 100%;
        max-width: 293px;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 5px;
        display: inline-block;
    }
    .perinfo {
        position: absolute;
        right: 10px;
        bottom: 20px;
    }
    .perinfo .products_infolist {
        font-size: 13px;
    }
    .media {
        float: right;
    }
    .boxstyle_list .np_box >a {
        height: 218px;
        width: 290px;
        background-size: contain;
        background-color: #f2f2f2;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 10px 0 10px 10px;
        border: 1px solid #ddd;
    }
    .store_box.np_box {
        padding: 10px 15px !important;
    }
    .store_box.np_box >a {
        height: auto;
    }
    .store_box.np_box >.caption {
        padding: 0;
    }
    .new_product .np_box >a {
        display: block;
        width: 100%;
        height: 150px;
        max-height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .store_infolist .list_tit {
        width: 90px;
    }
    .store_infolist .infolist_other {
        padding-left: 102px;
    }
    .boxstyle_list .np_box .caption {
        width: calc((100% - 293px) - 18px);
    }
}

@media (min-width: 769px) {
    .content {
        min-height: 538px;
        margin-top: 30px;
    }
    .contectbox {
        margin-top: 7em;
    }
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
    .titlebar_dubline {
        width: 350px;
    }
    .carousel-control .fa-angle-double-left {
        font-size: 36px;
        font-weight: 700;
        position: absolute;
        top: 48%;
        z-index: 5;
        display: inline-block;
    }
    .carousel-control .fa-angle-double-right {
        font-size: 36px;
        font-weight: 700;
        position: absolute;
        top: 48%;
        z-index: 5;
        display: inline-block;
    }
    .header_style03 .navbar-nav {
        float: none;
        /*margin: 0 auto;
                width: 716px;*/
    }
    .header_style03 .navbar {
        border-radius: 0;
    }
    .header_style03 .navbar-collapse {
        position: relative;
    }
    .header_style03 .nav>li {
        margin: 0 20px 0 0;
    }
    .header_style03 .nav>li:last-child {
        margin: 0;
    }
    .header_style03 .nav>li>a {
        padding: 20px 30px;
    }
    .hover_nav>li>a {
        padding: 10px 0;
    }
    .searchbox .navbar-form .form-control {
        font-size: 16px;
        padding: 5px 10px 5px 30px;
        width: 300px;
    }
    .btn_icon {
        top: 3px;
    }
    .slider {
        margin-bottom: 10px;
    }
    .mainbox {
        margin: 15vh 0 0;
    }
    .mainbox.brand {
        margin: 5vh 0 0;
    }
    .brandbox >a {
        height: 49px;
    }
    .brand img {
        width: auto;
        height: auto;
        max-height: 37px;
        margin: 0 auto;
    }
    .machine img {
        max-width: 204px;
        margin-bottom: 30px;
    }
    .sold {
        width: 100px;
        height: 80px;
        border-width: 50px;
    }
    .sold p {
        top: -27px;
        right: -40px;
    }
    .new {
        width: 100px;
        height: 80px;
        border-width: 50px;
    }
    .new p {
        top: -27px;
        right: -40px;
    }
    .new {
        width: 100px;
        height: 80px;
        border-width: 50px;
    }
    .new p {
        top: -27px;
        right: -40px;
    }
    .servicebox img {
        width: 50%;
    }
    .footer_b_content {
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (orientation: landscape) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
    .flickity-prev-next-button.previous {
        left: 22%;
    }
    .flickity-prev-next-button.next {
        right: 22%;
    }
    .mainbox {
        margin: 30px 0 0;
    }
    .cur_nav {
        float: left;
    }
    .contact textarea {
        min-height: 245px;
    }
    .photo_list li:nth-child(3n) {
        margin: 0 0 15px 0;
    }
    .infolist_other {
        padding-left: 112px;
    }
    .photo_big img {
        width: 100%;
        max-width: 455px;
        height: auto;
        max-height: 455px;
        margin: 0 auto;
        vertical-align: middle;
    }
}

@media (min-width: 992px) and (max-width:1200px) {
    .store_infoimg {
        width: 210px;
        height: calc((210px - 30px) / 4 * 3);
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
    .search {
        position: absolute;
        right: 5px;
        top: 62px;
    }
    .img_info {
        font-size: 20px;
    }
    .store_infoimg {
        width: 261px;
        height: calc((261px - 30px) / 4 * 3);
    }
    .store_infolist .infolist_other.textbox {
        text-align: justify;
    }
}
