@media(min-width: 1200px) {
    .col5 {
        width: 20%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .slider {
        margin-bottom: 10px;
    }
    .carousel-control .fa-angle-double-left {
        font-size: 36px;
        font-weight: 700;
        position: absolute;
        top: 48%;
        z-index: 5;
        display: inline-block;
    }
    .carousel-control .fa-angle-double-right {
        font-size: 36px;
        font-weight: 700;
        position: absolute;
        top: 48%;
        z-index: 5;
        display: inline-block;
    }
    #thumbcarousel .carousel-control {
        width: 7%;
    }
    .alex_slider .item {
        width: 100%;
        height: calc(945px / 16 * 10);
    }
    .alex_thumb .thumb {
        width: calc(945px / 4);
        height: 100px;
    }
    .header_st3_navbar {
        background: #fff;
    }
    .lang li {
        -webkit-transform: skew(45deg);
    }
    .lang li a {
        -webkit-transform: skew(-45deg);
    }
    .datebox {
        width: 80px;
        float: left;
    }
    .news_content {
        padding-left: 100px;
    }
    .post_info li+li {
        margin-left: 15px;
    }
    .post_info li {
        float: left;
    }
    .edit_imgbox {
        margin: 5px 15px 10px;
    }
    .cur_nav {
        float: left;
    }
    .thumbnail.np_box {
        margin: 0;
    }
    .boxstyle_list>li {
        margin-bottom: 20px;
    }
    .boxstyle_list .np_box>a {
        width: 180px;
        height: calc(180px / 4 * 3);
        background-size: contain;
        background-color: #f2f2f2;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 10px 0 10px 10px;
        border: 1px solid #ddd;
    }
    .boxstyle_list .np_box .caption {
        float: left;
        padding: 10px 15px;
    }
    .new {
        width: 100px;
        height: 80px;
        border-width: 50px;
    }
    .photo_list li:nth-child(4n) {
        margin-left: 0;
    }
    .imgbox {
        width: 122px;
        height: 122px;
    }
    .new p {
        top: -27px;
        right: -40px;
    }
    .album {
        width: 350px;
        float: left;
    }
    .album_infobox {
        padding-left: 370px;
    }
    .np_box_img {
        width: 100%;
        height: calc(350px / 16 * 10);
    }
    .right_bar {
        float: right;
    }
    .perinfo {
        position: absolute;
        right: 10px;
        bottom: 20px;
    }
    .perinfo .products_infolist {
        font-size: 13px;
    }
    .store_box.np_box {
        padding: 10px 15px !important;
    }
    .store_box.np_box>a {
        height: auto;
    }
    .store_box.np_box>.caption {
        padding: 0;
    }
    .store_infolist .list_tit {
        width: 90px;
    }
    .store_infolist .infolist_other {
        padding-left: 102px;
    }
    .content {
        min-height: 635px;
        margin-top: 30px;
    }
    .header_style03 .navbar-nav {
        float: none;
    }
    .header_style03 .navbar {
        border-radius: 0;
    }
    .header_style03 .navbar-collapse {
        position: relative;
    }
    .header_style03 .nav>li {
        margin: 0 20px 0 0;
    }
    .header_style03 .nav>li:last-child {
        margin: 0;
    }
    .header_style03 .nav>li>a {
        padding: 20px 30px;
    }
    .hover_nav>li>a {
        padding: 10px 0;
    }
    .searchbox .navbar-form .form-control {
        font-size: 16px;
        padding: 5px 10px 5px 30px;
        width: 300px;
    }
    .btn_icon {
        top: 3px;
    }
    .slider {
        margin-bottom: 10px;
    }
    /*.control_btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }*/
    .catlog .np_boxs {
        min-height: 150px;
    }
    .catlog .caption h3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 28px;
        height: 56px;
    }
    .album_infobox>p {
        margin: 10px 0 0;
    }
    .album_infobox.box-open .btn_op:after {
        content: "關閉內容"
    }

    .album_infobox.box-close .btn_op:after {
        content: "展開內容"
    }

    .album_infobox .case-box {
        height: 162px;
        transition: height 0.35s ease;
        overflow: hidden;
    }

    .footer_b_content {
        margin-top: 20px;
    }
    .np_box img,
    .owl-carousel .owl-item img {
        text-align: center;
        width: auto;
        max-width: 225px;
        height: 100%;
        max-height: 225px;
    }
}

@media(max-width: 1199px) {
    .slider {
        margin-bottom: 20px;
    }
    .alex_slider .item {
        width: 100%;
        height: calc((100vw - 30px) / 16 * 10);
    }
    .alex_thumb .thumb {
        width: calc(720px / 4);
        height: 100px;
    }
    .alex_thumb .carousel-control {
        width: 8%;
    }
    .carousel-control .fa-angle-double-left {
        font-size: 36px;
        font-weight: 700;
        position: absolute;
        top: 48%;
        z-index: 5;
        display: inline-block;
    }
    .carousel-control .fa-angle-double-right {
        font-size: 36px;
        font-weight: 700;
        position: absolute;
        top: 48%;
        z-index: 5;
        display: inline-block;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .dropdown.open {
        padding: 0;
    }
    .navbar-nav .dropdown.dropdown-submenu.open {
        background: #8d9655;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .header_style03 .navbar-collapse {
        padding: 0;
    }
    .header_style03 .navbar-header {
        background: #ddd;
    }
    .header_style03 .navbar-toggle {
        border: 1px solid #666;
    }
    .header_style03 .navbar-toggle .icon-bar {
        background: #666;
    }
    .navbar-nav .open .dropdown-menu>li>a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 15px 5px;
    }
    .header_style03 .dropdown-menu>li+li {
        border-top: 1px solid #f2f2f2;
    }
    .header_style03 .navbar-brand>img {
        max-width: 290px;
    }
    .navbar-nav .open>.dropdown-menu {
        background: #676f37;
        padding: 0;
    }
    .dropdown-submenu.open>.dropdown-menu {
        background: #8d9655;
    }
    .navbar-nav .dropdown.dropdown-submenu.open>a {
        border-bottom: 3px solid #fff;
    }
    .datebox {
        margin-bottom: 15px;
    }
    .post_info li+li {
        margin-left: 15px;
    }
    .post_info li {
        float: left;
    }
    .edit_imgbox {
        margin: 5px 15px 10px;
    }
    .right_bar {
        float: right;
    }
    .np_box_img {
        width: 100%;
        height: calc((100vw - 30px) / 16 * 10);
        margin-bottom: 20px;
    }
    .boxstyle_list .np_box .caption {
        float: left;
        padding: 10px 15px;
    }
    .boxstyle_list .np_box>a {
        width: 180px;
        height: calc(180px / 4 * 3);
        background-size: contain;
        background-color: #f2f2f2;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 10px 0 10px 10px;
        border: 1px solid #ddd;
    }
    /*.new {
        width: 100px;
        height: 80px;
        border-width: 50px;
    }
    .new p {
        top: -27px;
        right: -40px;
    }*/
    .photo_list li:nth-child(4n) {
        margin-left: 0;
    }
    .imgbox {
        width: 97px;
        height: 97px;
    }

    .catlog .caption h3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-height: 28px;
        height: 28px;
    }

    .side_flex {
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .side_flex li {
        margin-right: 15px !important;
    }
    .album_infobox>p {
        margin: 10px 0 0;
    }
    .album_infobox.box-open .btn_op:after {
        content: "關閉內容"
    }

    .album_infobox.box-close .btn_op:after {
        content: "展開內容"
    }

    .album_infobox .case-box {
        height: 162px;
        transition: height 0.35s ease;
        overflow: hidden;
    }

    .np_box img,
    .owl-carousel .owl-item img {
        text-align: center;
        width: auto;
        max-width: 225px;
        height: 100%;
        max-height: 225px;
    }
}

@media(min-width: 768px) {
    .sold,
    .new {
        width: 100px;
        height: 100px;
        border-width: 50px;
        top: 0;
        right: 0;
        border-style: solid;
        position: absolute;
    }

    .sold {
        border-color: #aaa #aaa transparent transparent;
    }
    .new {
        border-color: #dd3333 #dd3333 transparent transparent;
    }
    .sold p,
    .new p {
        top: -28px;
        right: -44px;
        font-size: 18px;
        font-weight: 700;
        position: absolute;
        margin: 0;
        color: #fff;
        z-index: 2;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@media (max-width: 768px) {
    .searchbox .navbar-form .form-control {
        font-size: 13px;
        padding: 2px 2px 2px 26px;
    }
    .btn_icon {
        top: -3px;
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }
    .cur_nav {
        margin-left: 10px;
    }
    .breadcrumb {
        margin-top: 15px;
    }
    /*.mobile_nav {
        margin-bottom: 2em;
        }*/
    .pro_filter {
        margin-bottom: 20px;
    }
    .sidebar_list_m {
        margin-bottom: 2em;
    }
    .selectbox.mobi {
        margin: 0;
    }
    .filterbox {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .85);
        padding: 30px 0;
        z-index: 500;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .filterbox h4 {
        color: #fff;
    }
    .selectbox.mobi label,
    .selectbox.mobi .ds {
        color: #fff;
    }
    .selectbox.mobi .input_g .form-control {
        display: inline-block;
        width: calc(100%/2 - 24px);
    }
    .filter_close {
        color: #fff;
        text-shadow: 0 1px 0 #aaa;
        opacity: 1;
    }
    .infolist_other {
        padding-left: 112px;
    }
    .store_infolist .infolist_other {
        padding-left: 86px;
    }
    .store_infoimg {
        width: 218px;
        height: calc((218px - 30px) / 4 * 3);
    }
    .store_infolist .infolist_other.textbox {
        -webkit-line-clamp: 4;
        line-height: 26px;
        height: 104px;
    }
    .infolist_other.textbox:after {
        content: '';
        background-color: #fff;
    }

    .photo_list li:nth-child(4n) {
        margin-left: 20px;
    }
    .imgbox {
        width: 128px;
        height: 128px;
    }
    .footer_b_copyright {
        position: static;
    }
}

@media (max-width: 750px) {
    #gotop {
        bottom: 23% !important;
    }
    .navbar_topnav {
        background: #676f37 !important;
    }
    .media {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 4px 0;
    }
    .media li>a {
        font-size: 24px;
        color: #ddd;
    }
    .mobile_nav {
        margin-bottom: 0;
    }
    .lang_btn .btn {
        border-radius: 0;
    }
    .header_style03 .navbar-brand>img {
        max-width: 200px;
        padding-top: 6px;
    }
    .carousel-control .fa-angle-double-left {
        font-size: 28px;
        font-weight: 700;
        position: absolute;
        top: 38%;
        z-index: 5;
    }
    .carousel-control .fa-angle-double-right {
        font-size: 28px;
        font-weight: 700;
        position: absolute;
        top: 38%;
        z-index: 5;
    }
    .post_info li {
        float: none;
        margin-bottom: 10px;
    }
    .post_info li+li {
        margin-left: 0;
    }
    .edit_imgbox {
        margin: 0 0 15px;
    }
    .cur_nav {
        float: none;
        margin-left: 0;
    }
    .right_bar {
        float: none;
    }
    .perinfo {
        margin: 0;
    }
    .nav-tabs.nav-justified>li {
        width: 50%;
        float: left;
    }
    .login_block {
        margin-top: 70px;
    }
    .copyright {
        margin-top: 15px;
    }
    .boxstyle_list .np_box>a {
        /*float: none !important;*/
        width: 100%;
        height: calc((100vw - 32px) / 4 * 3);
        margin: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        overflow: hidden;
        background-color: #f2f2f2;
    }
    .photo_list li:nth-child(4n) {
        margin-left: 0;
    }
    .imgbox {
        width: calc((100vw - 70px) / 3);
        height: calc((100vw - 70px) / 3);
    }
    .products_infolist {
        padding: 0 10px;
    }
    .member_title {
        margin-top: 30px;
    }
    .store_infoimg {
        width: 395px;
        height: calc((395px - 30px) / 4 * 3);
    }
    .app_don {
        margin-top: 20px;
    }
    .app_don img {
        display: inline;
    }
    .boxstyle_list .np_box>a {
        height: calc((100vw - 30px) / 4 * 3);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 5px;
    }
    .boxstyle_list.open .np_box>a {
        width: 100px;
        height: calc(150px / 4 * 3);
        max-height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 5px;
    }
    .boxstyle_list.open .caption {
        padding: 4px 4px 4px 120px;
        float: none;
    }
    .open .thumbnail.np_box {
        border: none;
        padding: 10px 5px;
        margin-bottom: 2px;
    }
    .sold,
    .new {
        border-radius: 15px;
        padding: 3px 8px;
        background: #ea5858;
        line-height: 100%;
    }
    .new p {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 13px;
        color:#fff;
    }
}