section.content .address-zone {
    margin-bottom: 15px;
}

section.content .btn-block {
    /*background: #422110;*/
    border: none;
    border-radius: 0;
    color: #fff;
    margin-top: 30px;
    padding: 7.5px 0;
}

section.content .btn-block+.btn-block {
    margin-top: 10px;
}

section.content .btn-block.btn-back {
    background: #94778d;
}

section.content .btn-block.btn-next {
    background: #fca3b5;
}

section.content .btn-block.btn-send {
    background: #ff8587;
}


/*section.content dd,
section.content dt {
    font-weight: 400;
    margin-bottom: 5px;
}*/

section.content dl {
    margin-top: 30px;
}

section.content h1+p {
    margin: 5px 0 0px;
}

section.content .panel {
    border: #ccc 1px solid;
    text-align: center;
}

section.content .panel dd {
    margin-left: 90px;
}

section.content .panel dd:last-child,
section.content .panel dt:nth-last-child(2) {
    margin-top: 15px;
}

section.content .panel dl {
    margin: 0;
}

section.content .panel dt {
    text-align: left;
    font-weight: normal;
}

section.content .panel li {
    border-bottom: #ddd 1px dashed;
    line-height: 35px;
    margin-bottom: 5px;
    padding: 10px 0 10px;
}

section.content .panel li:last-child {
    border-bottom: none;
}

section.content .panel p {
    margin: 0;
}

section.content .panel .panel-body {
    padding: 0 15px;
}

section.content .panel .panel-footer {
    background: #fff;
    /*border-top-color: #555;*/
    padding: 20px 15px;
}

section.content .panel .panel-heading {
    background: #eee;
}

section.content .panel .panel-body .price {
    text-align: center;
}

section.content .panel .price {
    text-align: right;
}

section.content .panel .price:before {
    content: "NT $";
    display: inline-block;
    /*float: left;*/
    margin-right: 5px;
}

.form-group label {
    font-weight: 300;
}

.panel-body a {
    color: #999;
}

.panel-body a:hover {
    color: #4dcce5;
}

.btn-warning {
    background-color: #4ccce5;
    border-color: #40a9bd;
}

.btn-warning:hover {
    background-color: #40a9bd;
    border-color: #40a9bd;
}

.btn-warning:active:focus {
    background-color: #40a9bd;
    border-color: #40a9bd;
}

.btn-warning:active,
.btn-warning:focus,
.btn-warning:visited,
.btn-warning.active {
    background-color: #40a9bd;
}

.info_dl {
    font-family: 'Verdana', 'Noto Sans TC', sans-serif;
}

.info_dl >hr {
    margin: 7.5px 0;
}

.info_dl dt {
    font-weight: 300;
}

.info_dl dd {
    font-weight: 300;
}

@media(min-width: 768px) {
    section.content .panel dt {
        text-align: right;
        margin-bottom: 5px;
        width: 95px;
    }
}

@media(min-width: 992px) {
    section.content .address-zone {
        margin-bottom: 0px;
    }
}
