section.content form .address-zone {
    margin-bottom: 15px;
}

section.content form button.btn-fb,
section.content form button.btn-login,
section.content form button.btn-register {
    letter-spacing: 2px;
    margin-bottom: 15px;
}

section.content form button.btn-fb {
    background: #6487bf;
}

section.content form button.btn-login {
    background: #ee838d;
}

section.content form button.btn-register {
    background: #e1c093;
}

section.content form .input-group-addon {
    background: transparent;
    border: none;
}

.form-group label {
    font-weight: 300;
}

.checkbox a {
    color: #999;
}

.checkbox a:hover {
    color: #4dcce5;
}

p.text-right a {
    color: #999;
}

p.text-right a:hover {
    color: #4dcce5;
}

.login_block .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

.login_block .tab-content {
    padding: 20px 15px;
    border-radius: 0 0 5px 5px;
    background: #fff;
    border: 1px solid #ddd;
    border-top-color: transparent;
}

.login_block .nav-tabs h2 {
    font-size: 22px;
    margin: 0 0 10px;
    text-align: center;
}

.login_block .nav-tabs small {
    color: #ccc;
    text-align: center;
    display: block;
}
