@charset "utf-8";

/*  ------------------------import------------------------  */

@import url("import/font-awesome.min.css");
@import url("import/jquery.fancybox.min.css");
@import url("import/owl.carousel.min.css");
@import url("import/owl.theme.default.min.css");
@import url("import/footable.bootstrap.min.css");
@import url("import/bootstrap-select.min.css");
@import url("import/responsive.css");

/*  ------------------------Fonts------------------------  */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*  ------------------------共用Style------------------------  */

body {
    font-family: Helvetica, "微軟正黑體", "Microsoft JhengHei", sans-serif;
    font-weight: normal;
    background-color: #f7f8f9;
    color: #545454;
}

::selection {
    background: rgba(209, 192, 165, .85);
    color: #FFF;
    text-shadow: none;
}

a {
    color: #545454;
    transition: color .2s linear;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
}

a:hover,
a:focus,
a:active {
    color: #8d9655;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.logo h1 {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: url(../images/godess_g.png) center top no-repeat;
    width: 448px;
    height: 76px;
    margin: 0 auto;
}

.hover_nav {
    list-style: none;
}

.breadcrumb {
    background: transparent;
    font-size: 13px;
    font-weight: 300;
    float: right;
    padding: 0;
}


/*.breadcrumb:before {
    content: "現在位置：";
    display: inline-block;
}*/

.breadcrumb a {
    color: #aaa;
}

.breadcrumb a:hover {
    color: #8d9655;
}

.breadcrumb>.active {
    color: #545454;
    font-weight: 400;
}

.textedit {
    color: #666;
    line-height: 1.8em;
}

.textedit .text_title {
    font-size: 18px;
    font-weight: 400;
    color: #676f37;
}

.textedit p {
    margin: 0 0 10px;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 400;
    text-align: justify;
    word-wrap: break-word;
}

.edit_imgbox {
    background: #fff;
    border: 1px solid #ddd;
    float: left;
    padding: 15px;
    border-radius: 10px;
}

.edit_imgbox img {
    max-height: 300px;
}
.edit_title{
	font-weight: 700;
}
.stage1 {
    list-style: cjk-ideographic;
}

.stage1 >li {
    font-size: 20px;
}

.stage1 h2 {
    font-size: 20px;
}

.stage1 >li >ol {
    font-weight: 300;
    font-size: 16px;
}

.stage1 >li >ol >li >.stage2 {
    margin: 15px 0;
}

.stage1 >li >ul {
    font-size: 15px;
    font-weight: 300;
}

.stage2 {
    font-weight: 300;
    list-style-type: lower-alpha;
}

.stage2 li {
    font-size: 15px;
}

.date {
    display: block;
    color: #ccc;
}

.side_title .red {
    font-size: 13px;
    color: #ea5858;
    font-weight: 300;
}

.searchmark {
    color: #F00;
    font-weight: 700;
}

.ih-item.square {
    position: relative;
    border: none;
    box-shadow: none;
}

#gotop {
    display: none;
    width: 22px;
    height: 38px;
    position: fixed;
    right: 20px;
    bottom: 10%;
    z-index: 100;
    cursor: pointer;
}


/*#gotop:after {
    content: '\f077';
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
}

#gotop:hover {
    border: 2px solid #f90;
}*/

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb50 {
    margin-bottom: 50px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.mt50 {
    margin-top: 50px;
}
