@charset "utf-8";

/*  ------------------------Color------------------------  */


/*btn*/

.btn-green {
    color: #fff;
    background-color: #747d3e;
    border-color: #676f37;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
    color: #fff;
    background-color: #676f37;
    border-color: #5f6731;
}


/*  ------------------------Header------------------------  */


/*header_style03*/

.header_st3_logo {
    padding: 16px 0;
    margin: auto;
}

.header_style03 .navbar {
    border: none;
}

.header_style03 .navbar-brand,
.header_style03 .navbar-nav>li>a {
    font-size: 16px;
    color: #694c4b;
}

.header_style03 .navbar-nav>li>a:hover,
.header_style03 .navbar-nav>li>a:focus {
    color: #df0c1e;
}

.header_style03 .navbar-brand {
    padding: 5px 15px;
}

.header_style03 .navbar-brand>img {
    height: auto;
}

.header_style03 .navbar {
    margin-bottom: 0;
}

.header_style03 .navbar-nav {
    margin: 0;
}

.header_style03 .navbar-nav >li {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #fff;
}

.header_style03 .navbar-nav >li:last-child {
    border-bottom: none;
}

.header_style03 .navbar-collapse {
    background: #ddd;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background: #54b7e6;
    color: #fff;
}

.navbar-default .navbar-nav>.open >a >.small {
    color: #fff;
}

.header_style03 .navbar_topnav {
    background: #fafafa;
}

.header_style03 .dropdown-menu {
    /*background: #54b7e6;
    padding: 0;*/
    border: none;
    box-shadow: none;
}

.header_style03 .dropdown-menu>li:last-child {
    border-bottom: none;
}

.header_style03 .dropdown-menu>li>a {
    padding: 15px 20px;
    color: #fff;
    text-align: center;
}

.header_style03 .dropdown-menu>li>a:hover,
.header_style03 .dropdown-menu>li>a:focus {
    background: #8d9655;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: transparent;
}

.hover_nav {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.hover_nav li {
    /*text-shadow: 0 0 7px rgba(0, 0, 0, 1);*/
}

.hover_nav>li {
    float: left;
    position: relative;
    width: calc((780px - 30px) / 5);
}

.hover_nav>li.dropnav:after {
    content: '\f0da';
    display: inline-block;
    color: #676f37;
    position: absolute;
    top: 40%;
    right: 5px;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.hover_nav>li.dropnav:hover:after {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.hover_nav>li>a {
    display: block;
    padding: 46px 10px 46px 0;
    font-size: 16px;
    color: #333;
    text-align: center;
    /*transition: color .5s;
    -webkit-transition: color .5s;
    -o-transition: color .5s;*/
}

.hover_nav>li>a:hover,
.hover_nav>li>a:focus {
    color: #f90;
    text-decoration: none;
}

.hover_nav>li>a:visited {
    text-decoration: none;
}

.hover_nav .hover_dropdown {
    list-style: none;
    display: none;
    width: 175px;
    clear: left;
    left: 0;
    padding: 0;
    position: absolute;
    z-index: 5;
    background: rgba(0, 0, 0, .75);
}

.hover_nav>li:hover >ul {
    display: block;
    z-index: 1000;
}

.hover_nav .hover_dropdown li {
    padding: 15px;
    text-align: left;
    position: relative;
}

.hover_nav .hover_dropdown a {
    color: #fff;
    position: relative;
}

.hover_nav .hover_dropdown li:hover {
    background: rgba(0, 0, 0, .9);
}


/*第三層*/

.hover_nav .hover_dropdown li > ul {
    display: none;
    padding: 0;
    list-style: none;
    background: rgba(0, 0, 0, .75);
}

.hover_nav .hover_dropdown li:hover > ul {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    border-left: 2px solid #666;
}

.arrow-right {
    position: absolute;
    right: 15px;
    top: 25px;
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #fff;
    width: 1px;
    height: 1px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu >.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu >a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover >a:after {
    border-left-color: #555;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.hover_nav .hover_dropdown.nav_pro li {
    padding: 15px 12px 15px 40px;
    position: relative;
}

.hover_nav .hover_dropdown.nav_pro li:after {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 11px;
}

/*.hover_nav .hover_dropdown.nav_pro li:nth-child(1):after {
    content: url(../images/daemo_icon.png);
}

.hover_nav .hover_dropdown.nav_pro li:nth-child(2):after {
    content: url(../images/Xcentric-Ripper-Logo-PMS.png);
}*/

.hover_dropdown.nav_pro .iconbg{
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 22px;
  height: 20px;
  position: absolute;
  left:10px;
}
.cur_nav .dropdown-menu>li>a {
    padding: 5px 10px;
    color: #333;
    text-align: left;
    outline: none;
}

.cur_nav .dropdown-menu>li>a:hover,
.cur_nav .dropdown-menu>li>a:focus {
    background: #eee;
}

.cur_nav .bootstrap-select .dropdown-toggle:focus {
    outline: none;
}


/*Search*/

.searchbox {
    position: relative;
}

.searchbox .navbar-form {
    margin: 0;
    padding: 0;
}

.searchbox .navbar-form .form-control {
    height: auto;
    border: 1px solid #ddd;
}

.btn_searchicon {
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 0;
    width: 28px;
    height: 28px;
    text-align: center;
    border: 0;
    background: transparent;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.btn_searchicon i {
    color: #ddd;
}

.search_anime {
    position: relative;
    right: 100px;
}

.titlebar {
    padding: 8px 10px;
}

.titlebar small {
    text-transform: uppercase;
}

.line_bg {
    background: url('../img/sys/15.png') left top;
}

.line_bottom {
    padding: 10px 10px 20px;
    border-bottom: 1px solid #ddd;
}

.line_title {
    float: left;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.more {
    float: right;
    font-size: 13px;
    padding: 0 5px;
    border: 1px solid #999;
    background: #aaa;
}

.more a {
    color: #fff;
}

.more a:hover {
    color: #8d9655;
}


/*  ------------------------List Set------------------------  */

.media {
    margin: 0;
}

.media li {
    font-family: 'lato', 'Microsoft YaHei', sans-serif;
    font-size: 13px;
}

.media a {
    color: #676f37;
}

.media a:hover {
    color: #acb76d;
}

.lang {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.lang li {
    float: left;
    position: relative;
    padding: 0.2em 1em;
    border-left: 1px solid #8d9655;
    border-right: 1px solid #8d9655;
    cursor: pointer;
    background: #676f37;
}

.lang li a {
    display: block;
    position: relative;
    color: #FFF;
}

.lang li:hover {
    background: #8d9655;
}

.cur_nav .form-group {
    margin-bottom: 0;
}

.news_list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.news_list li {
    padding: 20px 20px 15px;
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #ddd;
}

.news_list h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
}

.news_list a {
    color: #676f37;
}

.news_list a:hover {
    color: #8d9655;
}

.news_list .p_more a {
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
    display: inline-flex;
    background: #676f37;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: .4em .5em;
    transition: background .2s linear;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
}
.news_list .p_more a:hover {
    background: #b2bd6c;
    color: #fff;
}
.datebox {
    border: 1px solid #ddd;
    text-align: center;
    padding-bottom: 8px;
}

.datebox:before {
    content: 'NEWS';
    display: block;
    font-size: 12px;
    padding: 3px;
    text-align: center;
    color: #fff;
    background-color: #676f37;
}

.datebox p {
    margin: 0;
}

.datebox .year {
    display: block;
    color: #999;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
}

.datebox .month {
    color: #676f37;
    font-size: 18px;
    margin-left: -22px;
    margin-top: 3px;
    margin-bottom: -10px;
}

.datebox .day {
    color: #676f37;
    font-size: 20px;
    font-weight: 400;
    display: inline-flex;
    align-items: flex-start;
    margin-left: 4px;
}

.datebox .day:before {
    content: '\2044';
    display: inline-block;
    font-size: 16px;
    margin-top: -6px;
    margin-right: -2px;
}

.news_content .textedit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 26px;
    height: 52px;
    color: #aaa;
    text-align: left;
}

.p_more {
    margin: 5px 0 0;
}

.news_list_pro {
    padding-left: 0;
    color: #333;
}

.news_list_pro li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.news_list_pro li:last-child {
    border-bottom: none;
}

.news_list_pro a {
    color: #676f37;
}

.news_list_pro a:hover {
    color: #8d9655;
}

.news_list_pro a:before {
    content: '';
    display: inline-block;
    margin-left: 10px;
}

.news_list_pro .news_date {
    font-size: 13px;
    color: #aaa;
    margin: 0;
    position: absolute;
    line-height: 0;
}

.data {
    display: inline-flex;
    width: 7em;
    padding: 0 0 0 15px;
}

.data {
    display: inline-flex;
    width: 7em;
    padding: 0 0 0 15px;
}

.post_info {
    padding-left: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.post_info span {
    color: #8d9655;
}

.tabs_news{}

/*  ------------------------Contact Form------------------------  */

.contact_form label {
    font-weight: normal;
    color: #aaa;
}

.member_form input::-webkit-input-placeholder {
    color: #aaa;
    font-weight: 300;
}

.member_form input::-moz-placeholder {
    color: #aaa;
    font-weight: 300;
}

.member_form input:-ms-input-placeholder {
    color: #aaa;
    font-weight: 300;
}

.member_form input:-moz-placeholder {
    color: #aaa;
    font-weight: 300;
}

.member_form input:focus::-webkit-input-placeholder {
    color: transparent;
}

.member_form input:focus:-moz-placeholder {
    color: transparent;
}

.member_form input:focus::-moz-placeholder {
    color: transparent;
}

.member_form input:focus:-ms-input-placeholder {
    color: transparent;
}

.member_form i {
    color: #4dcce5;
    margin-right: 5px;
    font-weight: normal;
}

.member_form .input-group-addon {
    font-weight: 300;
    background-color: #f2f2f2;
    border: 1px solid #eee;
    border-radius: 4px 0 0 4px;
}

.member_form .form-control {
    border: 1px solid #eee;
    border-radius: 0 4px 4px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.member_form .member_select_three select,
.member_form .member_select_two select {
    color: #aaa;
    font-weight: 300;
}

.member_form .member_select_two select {
    width: calc(100%/2);
    border-bottom: none;
    border-right: none;
}

.member_form .member_select_three select {
    width: calc(100%/3);
    border-right: none;
}

.member_form .member_select_three select:last-child,
.member_form .member_select_two select:last-child {
    border-right: 1px solid #eee;
}


/*  ------------------------Table------------------------  */

.order_table {
    text-align: center;
}

.order_table th {
    text-align: center;
    font-weight: normal;
}


/*  ------------------------Footer------------------------  */

footer {
    margin-top: 10vh;
}

.footer_b_copyright {
    background: #ddd;
    padding: 15px 0 10px;
    color: #000;
}

.footer_b_copyright a {
    color: #676f37;
}

.footer_b_copyright a:hover {
    color: #acb76d;
}

.copyright .web_author {
    display: block;
    color: #aaa;
}

.copyright .web_author a {
    color: #676f37;
}

.copyright .web_author a:hover {
    color: #acb76d;
}


/*  ------------------------Photo Box------------------------  */

.photo_style01 {
    position: relative;
}

.photo_style01:before,
.photo_style01:after {
    display: inline-block;
    position: absolute;
}

.photo_style01:before {
    content: '';
    top: 0;
    left: 0;
    z-index: 2;
}


/*  ------------------------Button------------------------  */

.hover_anime li {
    width: 15%;
    margin-right: 1em;
    margin-bottom: 1em;
    background: #eee;
}

.hover_anime li:nth-child(6n) {
    margin-right: 0;
}

.hvr-border-fade:active,
.hvr-border-fade:focus,
.hvr-border-fade:hover {
    box-shadow: inset 0 0 0 4px #4ebdca, 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-underline-from-left:before,
.hvr-underline-from-center:before {
    background: #4ebdca;
}

.hvr-fade:active,
.hvr-fade:focus,
.hvr-fade:hover {
    background-color: #4ebdca;
    color: #fff;
}

.hvr-icon-fade:active:before,
.hvr-icon-fade:focus:before,
.hvr-icon-fade:hover:before {
    color: #4ebdca;
}

.hvr-icon-fade:before {
    top: 17px;
    right: 18px;
}

.hvr-fade p:hover {
    color: #f2f2f2;
}

.hover_anime p {
    padding: 15px 0;
    color: #333;
    text-align: center;
    margin: 0;
}


/*  ------------------------Gird------------------------  */

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}


/*  ------------------------Page------------------------  */

.pagebox {
    width: 290px;
    margin: 20px auto 0;
    padding: 0;
    text-align: center;
}

.pagebox li {
    margin-bottom: 10px;
    display: inline-block;
}

.pagebox li:last-child {
    margin-right: 0;
}

.pagebox a {
    font-size: 14px;
    color: #999;
    background: transparent;
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #999;
    text-align: center;
    line-height: 22px;
    border-radius: 3px;
    transition: background .2s linear;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
}

.pagebox a:hover {
    color: #fff;
    background: #8d9655;
}

.pagebox .on a {
    color: #fff;
    background: #8d9655;
}

.pagebox li:first-child a,
.pagebox li:last-child a {
    width: 44px;
}


/*  ------------------------clearfix------------------------  */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*For IE 6&7 only*/
}
